*{
margin:0;
padding:0;
}
body{
    background-color: black;
}
nav{
    color:white;
    display:flex;
    background-color: rgb(35, 35, 33);
    padding:25px;
}
nav li{
    padding-right: 30px;
    margin-left: 4px;
    font-size: 19px;
    cursor: pointer;
    flex-wrap: wrap;
    list-style: none;
}
nav li:hover{
    cursor:pointer;
    text-decoration:underline greenyellow;
}
.icons-1{
    margin-left: 260px;
}
.icons-6{
    padding-right:12px;
}
input[type=text]{
    border: solid gray 3px;
    padding-right: 5px;
    border-radius: 3px;
    height: 23px;
    background-color:gray;
    color: white;
}
.container{
    height: 100px;
    background-color: rgb(47, 23, 68);
}
.container p{
    color: gray;
margin-left: 20px;
padding-top: 20px;
}
.container h2{
    margin-left: 20px;
    color: white;
    font-size:30px;
}
