body{
    background: gray;
}

#content
{
    width: 580px;
    background: #fff;
    padding: 20px;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    max-height: 260px;
    overflow: hidden;
    /* overflow specifies whether to clip the content or to add scrollbars when the content 
    of the element is too big to fit in a specified area.*/
    /* hidden , scroll and auto */
    /* auto- adds scrollbar only when necessary */

    
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s; 
    transition: max-height 0.7s;
}

#content{
    max-height: 50px;

    /* set transition up*/
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show_more{
    background: #1594e5;
    color:#fff;
    font-family: calibri;
    display: block;
    width:140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}